:root {
  --background-color: #3a4750;
  --color: #d72323;
  --color-dark: #a81919;
  --color-secondary: #eeeeee;
  --shadow: #303841;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-secondary);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}

.app {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  all: unset;
  font-size: 100px;
}

.carousel {
  height: 500px;
  width: 300px;
  margin: auto;
  padding: 150px 0;
}

.slick-track {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.loading-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-icon div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: loading-icon 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-icon div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-icon div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-icon div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-icon {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 350px 50px 350px;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 350px;
}

.game-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25px;
}

.gif-container p {
  margin: unset;
}

iframe {
  all: unset;
}

.cards-remaining-container {
  font-size: 50px;
}

button {
  color: blue;
  background-color: var(--color);
  color: var(--background-color);
}
